.instructions {
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100vw; /* Default width for larger screens */
  box-sizing: border-box; 
  color: #fff;
}

.instructions h2 {
  color: #333;
  font-size: 1.2rem;
}

.instructions p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.instructions code {
  padding: 2px 6px;
  border-radius: 4px;
}



@media (max-width: 768px) {
  .instructions {
    width: 90%; 
    padding: 15px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;
  }
  .instructions p {
    font-size: 1rem;
    margin: 10px 0;
  }
}


